@{
    var currentUrl = Context.Request.Url.ToString().ToLower();
    var isWebforms = currentUrl.Contains("webforms");
    var webformsUrl = isWebforms ? currentUrl : currentUrl.Replace("mvc", "webforms");
    var mvcUrl = isWebforms ? currentUrl.Replace("webforms", "mvc") : currentUrl;
}
<div class="navbar-inverse navbar-fixed-top mvc" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/">
                <img alt="Brand" src="~/Content/Images/ISO_7010_E002_arrow.svg" height="100%" style="vertical-align: bottom">
                Exit Strategy for Webforms
            </a>
        </div>
    </div>
</div>
<div class="container mvc">
<div class="panel panel-default">
    <ul class="nav nav-pills nav-justified @(isWebforms ? "green" : "orange")" role="tablist">
        <li class="@(isWebforms ? "active" : "")"><a href="@webformsUrl">Webforms</a></li>
        <li class="@(isWebforms ? "" : "active")"><a href="@mvcUrl">Mvc</a></li>
    </ul>
    <div class="panel-body">