@model TestWebsite.Models.ViewModel
<div class="mvc">
<h3>This is a Razor Partial-view</h3>
<p>
    @Html.LabelFor(m => m.Boolean): @Html.DisplayFor(m => m.Boolean)
</p>
<p>
    @Html.LabelFor(m => m.Boolean): @Html.EditorFor(m => m.Boolean)<br />
    @Html.LabelFor(m => m.Test): @Html.EditorFor(m => m.Test)
</p>
</div>